body{
    background-color: lavender ;

   margin: 0px;
   font-family: sans-serif;
   text-align: center;
}
#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
    font-size: 45px;

}


  .horizontal-list p:hover {
      color: grey;
      font-weight: bold;
  } 

  .horizontal-list {
    list-style: none;
}

.contact{
    padding: 3px 10px;
    border: 1px solid white;
    background-color: #6f92f9;
    box-shadow: 1px 1px 1px 1px lightgray;
    margin-right: 50px;
    margin-left: 30px;
    display: flex;
}

/* .details p{
    display: inline;
    padding-right: 20px;
    margin-top: -200px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
    .contact .details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    }

    .contact.delete-btn{
        width: 10%;
        
        text-align: center;
        margin-top: 7px;
    }